.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 1px solid lightgray;
  position: relative;
}

.wrapper > canvas {
  position: absolute;
  top: 0;
  left: 0;
}